nav {
  height: 100vh;
  .logo {
    background-color: $color1;
    font-weight: bold;
    padding: 1.2rem;
    a {
      display: flex;
      font-size: 1.4rem;
      svg {
        color: $white;
        margin: 0 1.2rem 0 1rem;
        font-size: 3rem;
      }
    }
  }
  ul {
    a {
      li {
        background-color: $color2;
        border: 1px solid $black;
        padding: 1rem;
        align-items: center;
        font-size: 1.2rem;
        svg {
          margin: 0 2rem 0 1.2rem;
          color: $color1;
        }
      }
    }
  }
}
