$color1: #ffa401;
$color2: #042954;
$white: #fffbf4;
$black: #212530;
$background: #f0f1f3;

* {
  margin: 0;
  padding: 0;
}
body {
  .wrapper {
    display: grid;
    grid-template-columns: 20% 1fr;
    main {
      background: $background;
    }
  }
}
